<!DOCTYPE html>

<html>

<head>
    <title>Title of Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="robots" content="ALL" />
    <meta name="revisit-after" content="14 days" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>

    <div class="container mt-3">

        @RenderBody()

    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>