<!DOCTYPE html>

<html lang="ru"
      prefix="og: http://ogp.me/ns#
	          fb: http://ogp.me/ns/fb#
	          book: http://ogp.me/ns/book#
	          video: http://ogp.me/ns/video#
	          ya: http://webmaster.yandex.ru/vocabularies/">

@await Html.PartialAsync("HeadPartial")

<body>

    <div>

        @RenderBody()

    </div>

</body>

</html>
