@model TitleOfPage

<title>@Model.Title</title>
<meta name="description" content="@Model.Description" />
<meta name="keywords" content="@Model.KeyWords"
<meta name="pageId" content="@Model.PageNumber" />